//Empty creatures div
$("#creatures").empty();
$("#cave").html("<%= escape_javascript(@cave.cavename) %><p>");
<% @cave.creature.each do |c| %>
$("#creatures").append("<div class='col-xs-4 col-md-1 creature-pad'>" + '<%= escape_javascript(image_tag(c.imagelocation)) %>'
 + "</div>");
<% end %>