<% if user_signed_in? %>
  <h1 id="member">Thank you for signing in.  Feel free to look around.</h1>
  <p>Let us know if you want us to add anything to the application</p>
  <button class="btn btn-primary">Thank You Kindly</button>
<% else %>
  <h1>Please sign in to get full functionality!</h1>
  <p>By signing up you get access to:</p>
  <ul>
    <li>Save stats (see where you left off)</li>
    <li>Track experience hunted between every stat save</li>
    <li>More additional features to come soon...</li>
  </ul>
<% end %>
