/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";

html {
	height: 100%;
}
body {
	z-index: 1; // z-index to keep content behind footer
	position: relative;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
	background: #93DCE3;
	background: -webkit-linear-gradient(#93DCE3 20%, #D9F0F2 100%);
	background: -o-linear-gradient(#93DCE3 20%, #D9F0F2 100%);
	background: -moz-linear-gradient(#93DCE3 20%, #D9F0F2 100%);
	background: linear-gradient( #93DCE3 20%, #D9F0F2 100%);
}

.footer-top {
	z-index: 9999;
    background: #252C34;
    border-bottom: 1px solid #414f5a;
    color: #A1A1A1;
    padding: 0px 0;
    position:absolute;
	bottom:68px;
	width:100%;
}

.footer-bottom {
	z-index: 9999;
    background: #272727;
    color: #888;
    line-height: 38px;
    padding: 15px;
    position:absolute;
	bottom:0;
	width:100%;
}
