// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$vita: #A34646; // Vita Color
$mana: #429CF5; // Mana Color

body {
  font-family: impact;
}

#member-sign-in {
	display: none;
}

#creature-content {
	padding: 30px;	
}

#cave-layout {
	height: 350px;
}

#creatureSelected {
  position: relative;
  top: 30px;
  left: 20px;
}

#spellCasted {
  position: relative;
  top: -100px;
  left: -35px;
}

#calculator label {
	padding: 10px 10px 10px 0px;
	margin: 0px 10px 0px 0px;
}

.form-group span {
	width: 80px !important;
}
#mgw span {
	width: 60px !important;
}

.vita {
  color: $vita;
}

.mana {
  color: $mana;
}

.subpath {
	display: none;
}

.warrior-spells {
	display: none;
}

.rogue-spells {
	display: none;
}

.poet-spells {
	display: none;
}

.title {
  font-family: impact;
  color: white;
}

button {
  font-family: "Oswald";
}


td {
	background-color: tan;
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
	color: red;
}

td:hover {
	color: yellow;
}

tr {
	background-color: brown !important;
	color: white;
}

.ps {
	font-family: "Oswald", Georgia;
	color: red !important;
}

.cave-button {
	margin: 20px 0px 0px 0px;
}

.creature-pad {
	margin: 0px 10px 0px 10px;
}

#creature-content {
	margin: 35px 0px 0px 0px;
}

#social-section {
	button {
		margin: 12px 0px 0px 0px;
	}
}

#creatures {
	height: 150px;
}

#social-section {
	height: 60px;
}

#calculator {
	margin: 0px 0px -1px 0px;
	padding: 10px 30px 0px 30px;

	.container {
		padding: 20px 0px -20px 0px;
	}
}

#content-background {
	background-size: cover;
	background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRGz4SJJfeQ8MG3HDfgOCCkgcGGTeAjWCzFXzUDm6fGWyZ7K1mIYrPWByxg");
}