// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$vita: #A34646; // Vita Color
$mana: #429CF5; // Mana Color

body {
  font-family: impact;
}

#creature-content {
	padding: 30px;
}

#creatureSelected {
  position: relative;
  top: 30px;
  left: 20px;
}

#spells-section {
	button {
		padding: 5px 0px 5px 0px;
		width: 100px;
	}
}

#spellCasted {
  position: relative;
  top: -100px;
  left: -35px;
}

#calculator label {
	padding: 10px 10px 10px 0px;
	margin: 0px 10px 0px 0px;
}

.form-group span {
	width: 80px !important;
}
#mgw span {
	width: 60px !important;
}

.vita {
  color: $vita;
}

.mana {
  color: $mana;
}

.subpath {
	//display: none;
}

.warrior-spells {
	//display: none;
}

.rogue-spells {
	//display: none;
}

.poet-spells {
	//display: none;
}

.title {
  font-family: impact;
}

.btn {
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  letter-spacing: 2px;
  color: white;
}

.ps {
	font-family: "Oswald", Georgia;
	color: red !important;
}

.cave-button {
	margin: 10px 0px 0px 0px;
}
.creature-pad {
}

#creature-content {
	margin: 35px 0px 0px 0px;
}

#spells-section {
	button {
		margin: 10px 0px 10px 0px;
	}
}
#creatures-table {

	th {
		color: black;
    	padding: 10px;
		font-size:20px;
	}
	td {
	    padding: 0px 10px 0px 0px;
		color: $vita;
	}

}


/*

PROGRESS BAR

*/
.progress {background: rgba(20, 18, 18, 1); border: 2px solid rgba(5, 5, 5, 1); border-radius: 4px; height: 26px;}
.creature-health-bar {background: rgba(26, 161, 26, 1); font-size:20px;font-family: Monospace;} 
.progress-striped .creature-health-bar {background-color: rgba(26, 161, 26, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(87, 75, 75, 0.66),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(87, 75, 75, 0.66)),color-stop(0.75,rgba(87, 75, 75, 0.66)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(87, 75, 75, 0.66) 25%,transparent 25%,transparent 50%,rgba(87, 75, 75, 0.66) 50%,rgba(87, 75, 75, 0.66) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(87, 75, 75, 0.66) 25%,transparent 25%,transparent 50%,rgba(87, 75, 75, 0.66) 50%,rgba(87, 75, 75, 0.66) 75%,transparent 75%,transparent); background-size: 13px 13px;}